# Server & Security
NEXT_PUBLIC_APP_URL=http://localhost:3000
JWT_SECRET=super-secure-random-jwt-secret-key-12345!

# SQLite Database Location (inside the workspace / Docker volume)
DATABASE_PATH=./data/db.sqlite

# Google Service Account Credentials
# Google key filename should point to a json file in the root folder, e.g. .env.key.json
GOOGLE_API_KEY_FILENAME=.env.key.json
GOOGLE_SUBJECT_EMAIL=admin@example.com


